.person-cards-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
}

.person-cards-list li {
    padding: 10px;
}

.empty-list-text {
    font-size: 24px;
    font-weight: bold;
}

.person-cards-list-wrapper {
    display: flex;
    justify-content: center;
}
