.select-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    font-size: 30px;
    flex-direction: column;
}

.select-label {
    font-size: 30px;
    margin-bottom: 5px;
}

.select {
    outline: 2px solid #44ccb0;
    border: none;
    border-radius: 4px;
    font-size: .7em;
}

.select:hover,
.select:focus {
    cursor: pointer;
    outline: 3px solid #44ccb0;
}