.home {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.home__text {
    margin-top: 50px;
    width: 450px;
    text-align: center;
    border: 2px solid #23d1ae;
    border-radius: 5px;
    padding: 5px 10px;
}

.home__heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.home__paragraph {
    font-size: 24px;
}