* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Kaspersky Sans", "Roboto", sans-serif;
}

.App .header-panel {
    margin-bottom: 35px;
}

.spinner-wrapper {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}