.nav {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    box-shadow: 0 1px 4px rgb(92 133 150 / 25%);
}


.title__link {
    background: url("./kaspersky-logo.svg") 0 0 no-repeat;
    height: 30px;
    width: 156px;
    display: inline-block;
    text-indent: -1000px;
}

.nav__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.nav__link {
    font-size: 25px;
    color: #000;
    text-decoration: none;
    font-weight: normal;
    padding: 5px;
}

.nav__link:hover {
    color: #00a88e;
}

@media screen and (max-width: 900px) {
    .nav {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .nav__heading {
        height: 70px;
        display: flex;
        align-items: center;
    }

    .nav__list {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .nav__item {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #AEAEAE;
        box-sizing: border-box;
        height: 50px;
        align-items: center;
    }

    .nav__item:first-child {
        border-top: 1px solid #AEAEAE;
    }

    .nav__link {
        padding: 2px;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

}

